body,
html {
    height: 100%;
}

body {
    /* The image used */
    background: url("../img/arbol.png");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.progress-bar {
    text-align: center;
}

.card.text-center  {
   background-color: rgba(255, 255, 255, 0.6);
   color :black;
}
